.footer-container {
  background-color: rgb(246, 238, 238);
  padding: 20px 0;
  text-align: center;
  box-shadow: none; /* Removed shadow to avoid the line effect */
  margin: 0;
}
.footer-container {
  transform: translateZ(0); /* Forces GPU rendering */
}
.footer-divider {
  outline: 1px solid rgba(211, 0, 0, 0.1); /* Faint line */
}

.footer-divider,
.footer-container::after,
.footer-container::before {
    border: none;
    background: none;
}


.footer-title {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}
